In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

data = pd.read_csv("êµ­ë¯¼ê±´ê°•ë³´í—˜ê³µë‹¨_ê±´ê°•ê²€ì§„ì •ë³´_20211231.csv")
data

,HCHK_YEAR,IDV_ID,SIDO,SEX,AGE_GROUP,HEIGHT,WEIGHT,WAIST,SIGHT_LEFT,SIGHT_RIGHT,...,GAMMA_GTP,SMK_STAT_TYPE_CD,DRK_YN,HCHK_OE_INSPEC_YN,CRS_YN,TTH_MSS_YN,ODT_TRB_YN,WSDM_DIS_YN,TTR_YN,DATA_STD_DT
0,2021,2551207,41,2,12,160,60,79.0,0.0,0.0,...,23.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
1,2021,4030716,41,2,11,160,60,74.0,0.0,0.0,...,12.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
2,2021,3297511,41,2,9,150,60,72.0,0.0,0.0,...,70.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
3,2021,1638533,41,2,16,150,60,86.0,0.0,0.0,...,24.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
4,2021,456602,41,2,13,155,60,66.0,0.0,0.0,...,12.0,1.0,1.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,2021,4447892,11,2,14,150,60,91.0,0.0,0.0,...,32.0,1.0,0.0,1,0.0,NaN,NaN,NaN,0.0,2022-08-11
999996,2021,2763417,47,1,9,170,100,99.0,1.0,1.0,...,73.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
999997,2021,572436,47,2,10,150,75,98.0,0.0,0.0,...,70.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11
999998,2021,541281,11,2,10,160,55,70.0,0.0,0.0,...,140.0,1.0,0.0,1,0.0,NaN,NaN,NaN,0.0,2022-08-11
999999,2021,4171104,11,1,14,160,65,95.0,0.0,0.0,...,23.0,1.0,0.0,0,NaN,NaN,NaN,NaN,NaN,2022-08-11

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 34 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   HCHK_YEAR          1000000 non-null  int64
 1   IDV_ID             1000000 non-null  int64
 2   SIDO               1000000 non-null  int64
 3   SEX                1000000 non-null  int64
 4   AGE_GROUP          1000000 non-null  int64
 5   HEIGHT             1000000 non-null  int64
 6   WEIGHT             1000000 non-null  int64
 7   WAIST              999917 non-null   float64
 8   SIGHT_LEFT         999789 non-null   float64
 9   SIGHT_RIGHT        999790 non-null   float64
 10  HEAR_LEFT          999810 non-null   float64
 11  HEAR_RIGHT         999811 non-null   float64
 12  BP_HIGH            992655 non-null   float64
 13  BP_LWST            992655 non-null   float64
 14  BLDS               992588 non-null   float64
 15  TOT_CHOLE          425059 non-null   float64
 16  TRIGLYCERIDE       425055 non-null   float64
 17  HDL_CHOLE          425055 non-null   float64
 18  LDL_CHOLE          417432 non-null   float64
 19  HMG                992586 non-null   float64
 20  OLIG_PROTE_CD      987439 non-null   float64
 21  CREATININE         992593 non-null   float64
 22  SGOT_AST           992595 non-null   float64
 23  SGPT_ALT           992595 non-null   float64
 24  GAMMA_GTP          992594 non-null   float64
 25  SMK_STAT_TYPE_CD   999630 non-null   float64
 26  DRK_YN             999832 non-null   float64
 27  HCHK_OE_INSPEC_YN  1000000 non-null  int64
 28  CRS_YN             316766 non-null   float64
 29  TTH_MSS_YN         0 non-null        float64
 30  ODT_TRB_YN         0 non-null        float64
 31  WSDM_DIS_YN        0 non-null        float64
 32  TTR_YN             316767 non-null   float64
 33  DATA_STD_DT        1000000 non-null  object
dtypes: float64(25), int64(8), object(1)
memory usage: 259.4+ MB